  <section id="header"> 
  <div class="container">
  <div class="row">  
    <div class="col-md-2">
      
    </div>
    <div class="col-md-10">{{page.navigation}}</div>   
  </div>
  </div>
    <div class="container-fluid">
      <div class="row explanation">
        <p>
          Belgiets is de manier om kleine werken te laten doen of materiëel uit te lenen. Wilt u geld uitsparen en in ruil helpen anderen geld uit te sparen?
          </br>
          Neem dan een kijkje op de about pagina voor meer informatie.
        <p>
      </div>
    </div>
    </section>
    <section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 groen">
                {{ page.content }}
            </div>
            <div class="col-md-3 sidebar">
                {{ page.sidebar }}
            </div>
        </div>

    </div><!-- /.container -->
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {{page.footer}}
          </div> 
          <div class="col-md-6">
            {{page.socialMedia}}
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
